<%- include('partials/header.ejs') %>
    <h1>Create a New Blog Post</h1>
    <button id="create-button">Create</button>
    <dialog id="create-dialog">
        <form class="create-form">
            <div>
                <label for="post-title">Title:</label>
                <input type="text" id="post-title">
            </div>
            <div>
                <label for="post-content">Content:</label>
                <textarea id="post-content"></textarea>
            </div>
            <div>
                <button type="button" id="close-dialog">Cancel</button>
                <button type="submit">Create Post</button>
            </div>
        </form>
    </dialog>
    <script src="/script.js"></script>